/* Big red alert! */
svg[data-icon='line-md:alert'] {
	font-size: 48px;
	color: #ba3329;
}

/* Different sizes for different paragraphs */
.small {
	font-size: 16px;
	line-height: 20px;
}

.medium {
	font-size: 20px;
	line-height: 28px;
}
