<dl class="visual-block visual-block--bundle">
	<dt>
		<p>JSON</p>
		<iconify-icon class="bundle-bg" icon="assets:bundle-bg" height="auto"></iconify-icon>
		<div class="demo-icons">
			<iconify-icon icon="line-md:home-twotone-alt"></iconify-icon>
			<iconify-icon icon="line-md:chevron-small-double-left"></iconify-icon>
			<iconify-icon class="white-fill" icon="line-md:github-twotone"></iconify-icon>
			<iconify-icon icon="line-md:cloud-twotone"></iconify-icon>
			<iconify-icon icon="line-md:document-code"></iconify-icon>
			<iconify-icon icon="line-md:document-list"></iconify-icon>
			<iconify-icon icon="line-md:alert"></iconify-icon>
			<iconify-icon class="white-fill" icon="line-md:cloud-down-twotone"></iconify-icon>
			<iconify-icon icon="line-md:image-twotone"></iconify-icon>
			<iconify-icon icon="line-md:hash-small"></iconify-icon>
			<iconify-icon class="white-fill" icon="line-md:computer-twotone"></iconify-icon>
		</div>
	</dt>
	<dd>
		<p>What is an icon bundle?</p>
		<p>Icon bundle is a simple <a href="/docs/types/iconify-json.md">JSON object</a> that contains data for multiple icons from the same icon set, wrapped in a callback.</p>
		<p>It provides alternative to loading icon data from Iconify API.</p>
	</dd>
</dl>
