<div class="icon-types icon-types--padding">
	<p class="icon-types-24">
		<iconify-icon icon="mdi:account"></iconify-icon>
		<iconify-icon icon="mdi:account-edit"></iconify-icon>
		<iconify-icon icon="mdi:account-off"></iconify-icon>
		<iconify-icon icon="ic:baseline-keyboard-arrow-left"></iconify-icon>
		<iconify-icon icon="ic:baseline-keyboard-double-arrow-left"></iconify-icon>
		<iconify-icon icon="ic:twotone-subdirectory-arrow-left"></iconify-icon>
		Icons with padding
	</p>
	<p class="icon-types-24">
		<iconify-icon icon="grommet-icons:aid-option"></iconify-icon>
		<iconify-icon icon="grommet-icons:checkbox-selected"></iconify-icon>
		<iconify-icon icon="grommet-icons:checkmark"></iconify-icon>
		Icons with no or very little padding
	</p>
</div>
