<div class="icon-types icon-types--monotone">
	<p>
		<iconify-icon icon="bi:bell-fill"></iconify-icon>
		<iconify-icon icon="bi:bell-fill"></iconify-icon>
		<iconify-icon icon="bi:bell-fill"></iconify-icon>
		<a href="https://icon-sets.iconify.design/bi/bell-fill/" target="_blank"
			>bi:bell-fill</a
		>
	</p>
	<p class="icon-types-24">
		<iconify-icon icon="line-md:beer-alt-twotone-loop"></iconify-icon>
		<iconify-icon icon="line-md:beer-alt-twotone-loop"></iconify-icon>
		<iconify-icon icon="line-md:beer-alt-twotone-loop"></iconify-icon>
		<a
			href="https://icon-sets.iconify.design/line-md/beer-alt-twotone-loop/"
			target="_blank"
			>line-md:beer-alt-twotone-loop</a
		>
	</p>
	<p class="icon-types-24">
		<iconify-icon icon="mdi:material-design"></iconify-icon>
		<iconify-icon icon="mdi:material-design"></iconify-icon>
		<iconify-icon icon="mdi:material-design"></iconify-icon>
		<a
			href="https://icon-sets.iconify.design/mdi/material-design/"
			target="_blank"
			>mdi:material-design</a
		>
	</p>
</div>
