<div class="modes-demo">
	<p>
		<span>svg:</span>
		<iconify-icon class="success" icon="mdi:home" mode="svg"></iconify-icon>
		<iconify-icon
			class="success"
			icon="noto:paintbrush"
			mode="svg"
		></iconify-icon>
	</p>
	<p>
		<span>style:</span>
		<iconify-icon class="success" icon="mdi:home" mode="style"></iconify-icon>
		<iconify-icon
			class="success"
			icon="noto:paintbrush"
			mode="style"
		></iconify-icon>
	</p>
	<p>
		<span>bg:</span>
		<iconify-icon class="error" icon="mdi:home" mode="bg"></iconify-icon>
		<iconify-icon
			class="success"
			icon="noto:paintbrush"
			mode="bg"
		></iconify-icon>
		<small>monotone icon shown as black</small>
	</p>
	<p>
		<span>mask:</span>
		<iconify-icon class="success" icon="mdi:home" mode="mask"></iconify-icon>
		<iconify-icon
			class="error"
			icon="noto:paintbrush"
			mode="mask"
		></iconify-icon>
		<small>icon with palette loses color</small>
	</p>
</div>
