.mask-demo {
	/* Add dimentions to span */
	display: inline-block;
	width: 32px;
	height: 32px;
	/* Add background color */
	background-color: currentColor;
	/* Add mask image, use variable to reduce duplication */
	--svg: url('https://api.iconify.design/bi/bell-fill.svg');
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.mask-demo--2 {
	--svg: url('https://api.iconify.design/carbon/edit-off.svg');
}

.mask-demo--3 {
	--svg: url('https://api.iconify.design/carbon/humidity.svg');
}
