// Change text color for ".orange-block" to #e70
.orange-block {
	color: #e70;
}
// Change all icons inside ".light-blue-block" to #08f
.light-blue-block svg {
	color: #08f;
}
// Change text color for ".red-icon" to #e00
.red-icon {
	color: #e00;
}
