<div class="api-animation api-animation--1">
	<div class="animated-set animated-set--first animated-set--clouds">
		<iconify-icon class="icon1" icon="line-md:cloud-twotone"></iconify-icon>
		<iconify-icon class="icon2" icon="line-md:cloud-twotone"></iconify-icon>
		<iconify-icon
			class="icon3"
			icon="line-md:cloud-down-twotone"
		></iconify-icon>
		<p>API</p>
	</div>
	<div class="animated-arrows">
		<iconify-icon
			class="animated-arrow"
			height="auto"
			icon="assets:animation-arrow"
			flip="horizontal"
		></iconify-icon>
		<spaiconify-icon
			class="animated-arrow animated-arrow--2"
			height="auto"
			icon="assets:animation-arrow"
			flip="horizontal"
		></iconify-icon>
		<p>Icon Data</p>
	</div>
	<div class="animated-set animated-set--second animated-set--computers">
		<iconify-icon class="icon1" icon="line-md:laptop-twotone"></iconify-icon>
		<iconify-icon class="icon2" icon="line-md:computer-twotone"></iconify-icon>
		<iconify-icon class="icon3" icon="line-md:laptop-twotone"></iconify-icon>
		<p>Browser</p>
	</div>
</div>
