<div class="docs-process">
	<dl>
		<dt>
			<p>
				<code data-wrap="block">&lt;Icon icon="mdi:home" /&gt;</code>
				<code data-wrap="block">&lt;iconify-icon icon="mdi:alert" /&gt;</code>
			</p>
		</dt>
		<dd>
			Developer passes icon name as attribute for
			<a href="/icon-components/index.md">icon component</a>.
		</dd>
	</dl>
	<dl>
		<dt data-partial="process/animation0"></dt>
		<dd>
			<p>Component requests data for icons from Iconify API.</p>
		</dd>
	</dl>
	<dl>
		<dt data-partial="process/animation1"></dt>
		<dd>
			<p>API sends data for requested icons.</p>
			<p>
				API hosts thousands of icons, but sends only data for icons that were
				requested.
			</p>
		</dd>
	</dl>
	<dl>
		<dt>
			<code data-wrap="block">
				&lt;svg width="1em" height="1em" viewBox="0 0 24 24"
				<span class="hljs-comment">...</span>&gt;<span class="hljs-comment"
					>...</span
				>&lt;/svg&gt;
			</code>
			<code data-wrap="block">
				&lt;iconify-icon icon="mdi:alert"&gt;<span class="hljs-comment"
					>#shadow-root</span
				>&lt;svg width="1em" height="1em" viewBox="0 0 24 24"
				<span class="hljs-comment">...</span>&gt;<span class="hljs-comment"
					>...</span
				>&lt;/svg&gt;&lt;/iconify-icon&gt;
			</code>
		</dt>
		<dd>Component renders SVG using data retrieved from Iconify API.</dd>
	</dl>
</div>
