.inline-code {
  display: inline-block;
  margin: -1px 2px;
  padding: 0 3px;
  color: var(--vp-c-text-1);
  background: var(--vp-c-bg-alt);
  border: 1px dashed var(--vp-c-border);
  border-radius: 6px;
}
