$code-font-family: 'PT Mono', monospace;
$code-font-size: 14px;
$code-line-height: 22px;

$medium-font-size: 18px;
$medium-line-height: 26px;

$small-font-size: 14px;
$small-line-height: 22px;

// Inline code
.inline-code {
  display: inline-block;
  margin: -1px 2px;
  padding: 0 3px;
  color: var(--vp-c-text-1);
  background: var(--vp-c-mute);
  border: 1px dashed var(--vp-c-border);
  border-radius: 6px;
}

// Wrapper for code blocks
.code-blocks {
  margin: 4px 0 8px;
  padding: 0;
}

// Override VP style
div.code-blocks code {
  display: block;
  margin: 0;
  padding: 0;
  font-family: $code-font-family;
  font-size: $code-font-size;
  line-height: $code-line-height;
  color: var(--vp-c-text-1);
  word-wrap: break-word;
  background: none;
}

// Blocks inside code blocks wrapper
.code-block {
  margin: 6px 0;
  position: relative;

  > div {
    border-top: 1px solid var(--vp-c-divider);
    &.code-block-hint {
      border-top-width: 0;
    }
  }


  &-title {
    padding: 8px 16px;
    color: var(--vp-c-text-2);
    background: var(--vp-c-mute-dark);
    //font-size: $medium-font-size;
    //line-height: $medium-line-height;
    + div {
      border-top-width: 0;
    }
  }

  &-content {
    padding: 8px 12px;
    background: var(--vp-c-mute);
    position: relative;
    @media (max-width: 600px) {
      padding: 8px;
    }
  }

  &--demo &-content {
    background: var(--vp-c-bg-alt);
  }


  &-hint {
    padding: 8px 16px;
    color: var(--vp-c-text-2);
    background: var(--vp-c-mute-dark);
    font-size: $small-font-size;
    line-height: $small-line-height;
    border-top-style: dashed;
    border-bottom-width: 0;
  }

  // &:first-child > div:first-child {
  > div:first-child {
    border-top-width: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  // &:last-child > div:last-child {
  > div:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &--demo {
    p {
      margin: 4px 0;
    }
  }

  // Copy to clipboard
  &-copy {
    display: none;
    position: absolute;
    right: 8px;
    top: 8px;
    color: var(--vp-c-brand);
    transition: color 0.2s linear;
    &:hover {
      color: var(--vp-c-brand-accent)
    }

    .copied, .hidden {
      visibility: hidden;
    }

    &--copied {
      color: var(--c-gray-dimmed);
      .not-copied {
        visibility: hidden;
      }
      .copied {
        visibility: visible;
      }
    }
  }

  &:hover {
    .code-block-copy {
      display: block;
    }
  }

}
