.vp-code-group .tabs label {
  background-color: transparent;
}

table {
  width: 100% !important;
  display: table;
}

.custom-block.tip .custom-block-title {
  color: var(--vp-c-brand);
}


/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark {
  /* todo: review this if team included */
  /*.vp-doc a:not(.VPSocialLink),*/
  .vp-doc a > code,
  .VPNavBarMenuLink.VPNavBarMenuLink:hover,
  .VPNavBarMenuLink.VPNavBarMenuLink.active,
  .link.link:hover,
  .link.link.active,
  .edit-link-button.edit-link-button {
    color: var(--vp-c-brand-lighter);
  }
  .vp-doc a:not(.VPSocialLink):hover,
  .vp-doc a > code:hover {
    color: var(--vp-c-brand-lightest);
    opacity: 1;
  }
}

/* Pager */
a.pager-link[class] {
  span {
    transition: none;
  }
  &:hover {
    background: var(--vp-c-primary-button-hover);
    border-color: var(--vp-c-primary-button-hover);
    color: var(--vp-c-neutral-inverse);
    span {
      color: inherit;
    }
    .desc {
      opacity: 0.7;
    }
  }
}

/* Links hover */
a.edit-link-button[class], .vp-doc a {
  &:hover {
    color: var(--vp-c-brand-accent);
    transition: none;
  }
}

/* VPNavBarTitle */
.VPNavBarTitle {
  .title {
    svg {
      transition: all .2s ease-in-out;
    }
    &:hover {
      opacity: 1;
      svg {
        transform: scale(1.1);
      }
    }
  }
}

/* Transition by color instead of opacity */
/*.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}*/


/* VitePress Search */
/*.VPLocalSearchBox .result {
  --vp-c-bg-search-result: var(--vp-c-bg);
  background: var(--vp-c-bg-search-result) !important;
  padding: 4px !important;
  border: 1px solid var(--vp-c-divider) !important;
}
.VPLocalSearchBox .result.selected {
  --vp-c-bg-search-result: var(--vp-c-bg-soft) !important;
}
.VPLocalSearchBox .result .excerpt-gradient-top {
  background: linear-gradient(var(--vp-c-bg-search-result),transparent) !important;
}
.VPLocalSearchBox .result .excerpt-gradient-bottom {
  background: linear-gradient(transparent,var(--vp-c-bg-search-result)) !important;
}
.VPLocalSearchBox .title-icon {
  display: none;
}
.VPLocalSearchBox .excerpt-wrapper {
  margin-top: 4px;
}*/
