/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand: #307594;
  --vp-c-brand-light: #1c5870;
  --vp-c-brand-lighter: #06415b;
  --vp-c-brand-next: #e95ca2;
  --vp-c-gutter: var(--vp-c-divider);
  --vp-code-block-bg: rgba(125,125,125,0.04);
  --vp-code-tab-divider: var(--vp-c-divider);
  --vp-code-copy-code-bg: rgba(125,125,125,0.1);
  --vp-code-copy-code-hover-bg: rgba(125,125,125,0.2);
  --vp-c-disabled-bg: rgba(125,125,125,0.2);
  --vp-code-tab-text-color: var(--vp-c-text-2);
  --vp-code-tab-active-text-color: var(--vp-c-text-1);
  --vp-code-tab-hover-text-color: var(--vp-c-text-1);
  --vp-code-copy-code-active-text: var(--vp-c-text-2);
  --vp-c-text-dark-3: rgba(56, 56, 56, 0.8);
  --vp-c-brand-lightest: var(--vp-c-brand);

  --vp-c-highlight-bg: var(--vp-c-brand-light);
  --vp-c-highlight-text: var(--vp-c-bg);
}

.dark {
  --vp-c-brand: #0d8fc9;
  --vp-c-brand-light: #69b6ff;
  --vp-c-brand-lighter: #99deff;
  --vp-code-block-bg: rgba(0,0,0,0.2);
  --vp-c-text-code: #c0cec0;
  --vp-code-tab-text-color: var(--vp-c-text-dark-2);
  --vp-code-tab-active-text-color: var(--vp-c-text-dark-1);
  --vp-code-tab-hover-text-color: var(--vp-c-text-dark-1);
  --vp-code-copy-code-active-text: var(--vp-c-text-dark-2);
  --vp-c-text-dark-3: var(--vp-c-text-dark-2);
}


/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

.dark {
  --vp-button-brand-text: #111;
  --vp-button-brand-hover-text: #111;
}
/**
 * Component: Home
 * -------------------------------------------------------------------------- */

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}
