<p>No flip: <IconifyIcon @icon='bi:check2-circle' @inline={{true}} /></p>
<p>
	Horizontal flip:
	<IconifyIcon @icon='bi:check2-circle' @inline={{true}} @flip='horizontal' />
</p>
<p>
	Vertical flip:
	<IconifyIcon @icon='bi:check2-circle' @inline={{true}} @flip='vertical' />
</p>
<p>
	Both (or 180° rotation):
	<IconifyIcon
		@icon='bi:check2-circle'
		@inline={{true}}
		@flip='horizontal,vertical'
	/>
</p>