<p>No rotation: <IconifyIcon @icon='bi:check2-circle' @inline={{true}} /></p>
<p>
	90° rotation:
	<IconifyIcon @icon='bi:check2-circle' @inline={{true}} @rotate='90deg' />
</p>
<p>
	180° rotation:
	<IconifyIcon @icon='bi:check2-circle' @inline={{true}} @rotate='180deg' />
</p>
<p>
	270° rotation:
	<IconifyIcon @icon='bi:check2-circle' @inline={{true}} @rotate={{3}} />
</p>