<div class="notice notice--legacy">
  <iconify-icon inline icon="line-md:alert"></iconify-icon>
  <p>Split icon packages are deprecated.</p>
  <p>
    It creates unnecessary duplication, adding 2 extra NPM packages per icon set.
    Please use <a href="/docs/icons/json.md">JSON packages</a>, which include all icons in one file.
  </p>
  <p>
    Old packages are still available, but no longer updated.
  </p>
  <p>
    To extract data for each icon from JSON file, you can use <a href="/docs/libraries/utils/parse-icon-set.md">parseIconSet()</a> from Iconify Utils.
  </p>
  <p>
    You can also generate split packages yourself using <a href="/docs/libraries/tools/export/icon-package.md">exportIconPackage()</a> from Iconify Tools.
  </p>
</div>
