<div class="notice notice--no-icon">
	<p>
		Check out <a href="/iconify-icon/index.md">Iconify icon web component</a>.
		It is a modern replacement for SVG framework. It is smaller than SVG
		framework and easier to use.
	</p>
	<p>
		SVG framework was written when Iconify project was in early development.
		Back then browsers had very poor support for web components, making it
		impossible to use web components in production. However, since then web
		components have been adopted and are now supported by all browsers.
	</p>
</div>
