.demo-notice {
	color: var(--vp-c-text-2);
}
p + .demo-notice {
	margin-top: 8px;
}

/* Change paragraph color on hover */
.demo-hover-color {
	color: var(--c-red);
}
.demo-hover-color:hover {
	color: var(--c-blue);
}

/* Align samples below baseline, similar to glyphs rendered by icon fonts */
.pseudo-test:after,
.background-test,
.mask-test {
	vertical-align: -0.125em;
}

small {
	color: var(--vp-c-text-2);
}
