/* Common styles for mask and background */
.background-test,
.mask-test {
	display: inline-block;
	width: 1em;
	height: 1em;
}

/* Pseudo element demo */
.pseudo-test:after {
	content: url('https://api.iconify.design/fluent-emoji-flat/alarm-clock.svg?height=16');
}

/* Background demo */
.background-test {
	background-image: url('https://api.iconify.design/fluent-emoji-flat/alarm-clock.svg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* Mask demo */
.mask-test {
	background-color: currentColor;
	-webkit-mask-image: url('https://api.iconify.design/fluent-emoji-flat/alarm-clock.svg');
	mask-image: url('https://api.iconify.design/fluent-emoji-flat/alarm-clock.svg');
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}
